.secondary-subtitle {
  width: 40%;
  font-size: 2.3rem;
  color: #262626;
  font-weight: 800;
  &:after {
    content: "";
    display: block;
    width: 20%;
    height: 6px;
    background-color: #fff;
    margin-top: 15px;
  }
}

.secondary-body {
  width: 50%;
  font-size: 20px;
  letter-spacing: -0.2px;
}

.text-divider {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}