.soc {
  display: inline-block;
  margin-bottom: 0;
  list-style-type: none;
  padding: 0 .25rem;
  line-height: 0;
  
  a {
    display: inline-flex;
  }

  svg {
    transition: 300ms ease-in-out;
    fill: #969696;
    &:hover {
      fill: #606060;
    }
  }
}