a {
  color: inherit;
  text-decoration: none;
}

.inline-link {
  color: inherit;
  text-decoration: underline;
  transition: .3s ease-in-out;
}

.btn {
  padding: 10px 35px;
  color: #262626;
  display: inline-block;
  margin-right: 20px;
  font-size: 1em;
  transition: ease-in-out 250ms;
  cursor: pointer;
  text-decoration: none;
  background-color: #ddd;

  .orange & {
    background: #ffb64d
  }
  
  .green & {
    background: #aed87c;
  }
  
  .blue & {
    background: #4dd8ff;
  }

  @media (min-width: 1024px) {
    font-size: 1.1rem;
    font-weight: 700;
    padding: 8px 35px;
  }

  .block {
    display: inline-block;
    padding: 9px 34px 7px;
  }
}

:not(pre) > code[class*="language-"] {
  font-size: 1rem !important;
  padding: .25em .5em !important;
}